<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="environment" value="PROD"/>
    
    <!-- JASPER -->
    <add key="ReportURL_DEV" value="http://reporting.myfowo.com/jasperserver/rest_v2/reports/marketing/air/dev"/>
    <add key="ReportURL_PROD" value="http://reporting.myfowo.com/jasperserver/rest_v2/reports/marketing/air"/>
    

    <!--PROD 
    <add key="ConnectionString_AIR" value="Data Source=79.137.67.133; Initial Catalog=dbp_air; User ID=dbp_air.user; Password=pwddbp_air;application name=AIR V4;Connect Timeout=30"/>-->
    <!--DEV-->
    <add key="ConnectionString_AIR" value="Data Source=79.137.67.133; Initial Catalog=dbd_air; User ID=dbd_air.user; Password=pwddbd_air;application name=AIR V4;Connect Timeout=30"/>
    

  </appSettings>


  <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  
  
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>

</configuration>
